
.login{
    display: grid;
    place-items: center;
}

.login > div >img{
    object-fit: contain;
    height: 150px;
}

.login > button{
    width: 300px;
    background-color: yellowgreen;
    color: white;
    font-weight: 800;
}
.login>button:hover{
    background-color: white;
    color: green;
}
.login>div{
    display: flex;
    flex-direction: column;
}